@font-face{
    font-family: 'helvetica-now';
    src: url('../fonts/HelveticaNowDisplay-Regular.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'helvetica-now';
    src: url('../fonts/HelveticaNowDisplay-Black.ttf');
    font-weight: bolder;
}

