@import url('fonts.css');



body {
    font-family: 'helvetica-now';
    font-weight: 200;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --prim: black;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #e9e9e9;
  overflow-x: auto;
}

::-webkit-scrollbar-track
{
    
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #ffffff;
  overflow-x: auto;
  
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #6e6e6e;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb:hover {
    width: 40px;
    background: #555;
  }

/* body{
    background: black;
} */

header{
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
    background: rgb(0, 0, 0);

  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 5rem;
    width: 100%;
}

nav .logo{
    width: 8rem;
}

nav ul{
    display: flex;
}

nav ul li:first-child{
    margin-left: 0;
}


nav ul li{
    margin-left: 3rem;
}

nav ul a{
    color: white;
}

nav .hamburger{
    display: none;
}

#hero{
    background-image: url('../images/home-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

#hero .hero-content h1{
    font-family: 'helvetica-now';
    font-weight: 100;
    font-size: 5rem;
    
}

#hero .hero-content .btn{
    /* background-color: rgb(255, 255, 255); */
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#hero .hero-content .btn a{
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
}

#hero .hero-content .btn a:first-child{
    background-color: rgba(0, 255, 255, 0);
    border: 1px solid white;
    color: white;
}

#about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-content{
    text-align: center;
}

#about .about-content p{
    font-family: 'helvetica-now';
    font-weight: 100;
    font-size: 2.5rem ;
    text-align: center;
}

#about .about-content .about-btn{
    margin-top: 30px;
}

#about .about-content .about-btn a{
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 1px solid black;
    margin-top: 200px;
}

#services{
    width: 100%;
    height: auto;
    padding-bottom: 6%;
}

#services .service-content{
    padding: 0 20%;
}

#services .service-content h1{
    margin-bottom: 4%;
    font-family: 'helvetica-now';
    font-weight: 200;
    font-size: 4rem;
}

#services .service-content .service-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#services .service-content .service-cards .service-card{
    width: 16rem;
    padding-bottom: 5%;
}

#services .service-content .service-cards .service-card img{
    width: 100%;
    height: auto;
}

#services .service-content .service-cards .service-card .service-text{
    padding-top: 5%;
}

#services .service-content .service-cards .service-card .service-text h2{
    font-family: 'helvetica-now';
    font-weight: 200;
    margin-bottom: 3%;
}


#portfolio{
    width: 100%;
    /* grid-template-columns: repeat(3, 1fr);  */
}

#portfolio .portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio .portfolio-content .portfolio-images{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
}

#portfolio .portfolio-content .portfolio-images .img-box{
    width: 33.33%;
    position: relative;
}

#portfolio .portfolio-content .portfolio-images .img-box h3{
    color: white;
    position: absolute;
    top: 90%;
    left: 5%;
    display: none;
}

#portfolio .portfolio-content .portfolio-images .img-box:hover h3{
    display: block;
}

#portfolio .portfolio-content .portfolio-images .img-box .img-zoom{
    overflow: hidden;
    display: flex;
}

#portfolio .portfolio-content .portfolio-images .img-box .img-zoom:hover img{
    transform: scale(1.05);

}

#portfolio .portfolio-content .portfolio-images .img-box .img-zoom img{
    width: 100%;
    height: 100%;
}

#portfolio .portfolio-content a{
    margin-top: 5%;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 1px solid black;
}


#blog{
    width: 100%;

}

#blog .blog-content{
    padding: 4% 10%;

    
}

#blog .blog-content h1{
    font-family: 'helvetica-now';
    font-weight: 200;
    margin-bottom: 3%;
    font-size: 4rem;
}
#blog .blog-content .blog-cards{
    display: flex;
    justify-content: space-between;
}

#blog .blog-content .blog-cards .blog-card{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 25%;
}

#blog .blog-content .blog-cards .blog-card .blog-image{
    display: flex;
}

#blog .blog-content .blog-cards .blog-card .blog-image img{
    width: 100%;
    height: auto;
}

#blog .blog-content .blog-cards .blog-card .card-text .auth-date{
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

#blog .blog-content .blog-cards .blog-card .card-text{
    padding-top: 1rem;
}
#blog .blog-content .blog-cards .blog-card .card-text p:nth-child(3){
    padding-top: .5rem;
}

#blog .blog-content .btn{
    text-align: center;
    margin-top: 5%;

}

#blog .blog-content .btn a{
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: 1px solid black;
}

@keyframes slide{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#client-logo .logos{
    overflow: hidden;
    white-space: nowrap;
}

#client-logo .logos .logo-slide{
    display: inline-block;
    animation: 5s slide infinite linear;
}

#client-logo .logos .logo-slide img{
    width: 10%;
}


@media (min-width:1920px) {
    #services .service-content .service-cards .service-card{
        width: 24rem;
        padding-bottom: 5%;
    }
}