{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}



{% block content %}
<header>
    <nav>
        <div class="logo"><a href=""><img src="{% static 'main/images/Mindview-Logo-White.svg'%}" alt=""></a></div>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="hamburger">
            ham
        </div>
    </nav>
</header>

<section id="about-hero">
    <div class="about-content">
        <div class="title">
            <h1>what<br>drive us</h1>
        </div>
        <div class="content">
            <p>Our strategies and campaigns are uniquely tailored to meet your needs. From logo creation to complete rebranding we handle it all. We ensure that your digital footprint leaves a lasting impression. Your success in sales is a testimony to our success.</p>
        </div>
        

    </div>
</section>

<!-- Hero Section end -->

<!-- about story Section -->

<div id="about-story">
    <div class="story-content">
        <div class="heading">
            <h1>Our Story</h1>
        </div>
        
        <div class="paragraph">
            Mindview is the result of a shared vision for innovative storytelling in advertising. Our team blends creative insights with strategic thinking to craft memorable campaigns Our services range from video production, graphic designing, digital marketing to web designing which makes us a one stop for all your branding needs. We team up to ensure that we offer the finest advertising services in Thrissur.
        </div>
        <div class="count">
            <div class="projects" class="txt">
                <h1>300+</h1>
                <h3>Projects</h3>
            </div>
            <div class="exp" class="txt">
                <h1>300+</h1>
                <h3>Projects dfgsfg</h3>
            </div>
            <div class="global-project" class="txt">
                <h1>300+</h1>
                <h3>Projects</h3>
            </div>
        </div>
    </div>
</div>
<!-- about story Section end -->

<!-- about CEO Section -->

<div id="ceo">
    <div class="ceo-content">
        <div class="ceo-img">
            <img src="" alt="">
        </div>
        <div class="ceo-about">
            <p>In just 4 years, we have transformed into a  powerhouse of creativity and innovation. From captivating designs and cutting-edge video production to impactful digital marketing and seamless web development, we’ve redefined brand solutions. With a relentless focus on quality and results, Mindview stands as a trusted partner for growth-driven businesses. Our mission is to help you reach your business goals and be a part of your success story.</p>
        </div>

    </div>
</div>
<!-- about CEO Section end -->
{% include 'main/html/footer.html' %}
{% endblock %}