{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}



{% block content %}
<header>
    <nav>
        <div class="logo"><a href=""><img src="{% static 'main/images/Mindview-Logo-White.svg'%}" alt=""></a></div>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="hamburger">
            ham
        </div>
    </nav>
</header>

<section id="about-hero">

</section>

{% include 'main/html/footer.html' %}
{% endblock %}