{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}"> {% endblock %}

{% block content %}

<!-- Header Section -->
<header>
    <nav>
        <div class="logo"><a href=""><img src="{% static 'main/images/Mindview-Logo-White.svg'%}" alt=""></a></div>
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="hamburger">
            ham
        </div>
    </nav>
</header>
<!-- Header Section end -->

<!-- Hero Section -->
<section id="hero">
    <div class="hero-content">
        <h1>We Are Mindview</h1>
        <p>Let’s craft extraordinary stories together and make your brand shine.</p>
        <div class="btn">
            <a href="#">Let's Talk</a>
            <a href="#">Connect With Us</a>
        </div>


    </div>
</section>

<!-- Hero Section End -->

<!-- About Section -->
<section id="about">
    <div class="about-content">
        <p>At mindview ,we discover the visionaries behind our groundbreak <br>
            campaigns and see how our passion and expertise can fuel your <br>
            brand futures.</p>

            <div class="about-btn" >
                <a href="" >
                    Our Story
                </a>
            </div>
</section>

<section id="services">
    <div class="service-content">
        <h1>Services</h1>
        <div class="service-cards">
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
    
                </div>
    
            </div>

        </div>


    </div>

</section>

<script src="{% static 'main/javascript/script.js' %}" ></script>

{% endblock %}