{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'main/css/homepage.css' %}"> {% endblock %}

{% block content %}

<!-- Header Section -->
<header>
    <nav>
        <div class="logo"><a href=""><img src="{% static 'main/images/Mindview-Logo-White.svg'%}" alt=""></a></div>
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="hamburger">
            ham
        </div>
    </nav>
</header>
<!-- Header Section end -->

<!-- Hero Section -->
<section id="hero">
    <div class="hero-content">
        <h1>We Are Mindview</h1>
        <p>Let’s craft extraordinary stories together and make your brand shine.</p>
        <div class="btn">
            <a href="#">Let's Talk</a>
            <a href="#">Connect With Us</a>
        </div>


    </div>
</section>

<!-- Hero Section End -->

<!-- About Section -->
<section id="about">
    <div class="about-content">
        <p>At mindview ,we discover the visionaries behind our groundbreak <br>
            campaigns and see how our passion and expertise can fuel your <br>
            brand futures.</p>

            <div class="about-btn" >
                <a href="" >
                    Our Story
                </a>
            </div>
</section>


<!-- About Section End -->

<!-- Service Section -->


<section id="services">
    <div class="service-content">
        <h1>Services</h1>
        <div class="service-cards">
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>
            <div class="service-card">
                <img src="{% static 'main/images/branding.webp' %}" alt="">
                <div class="service-text">
                    <h2>Title</h2>
                    <p>The idea of branding is to create a unique identity for your company. With innovative strategies and result driven campaigns we make sure your brand is heard.
                    </p>
    
                </div>
    
            </div>

        </div>


    </div>

</section>

<!-- Service Section End -->

<!-- Portfolio Section -->

<section id="portfolio" >
    <div class="portfolio-content">
        <div class="portfolio-images">
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            <div class="img-box">
                
                <div class="img-zoom">
                    <img src="{% static 'main/images/port-1.webp' %}" alt="">
                </div>
                <h3>Social Media</h3>
            </div>
            
            
        </div>
        
            
        <a href="">View all Works</a>

    </div>
</section>

<!-- Portfolio Section End -->

<!-- Blog Section -->



<section id="blog" >
    <div class="blog-content">
        
            <h1>Blogs</h1>
        
        
        <div class="blog-cards">
            <div class="blog-card">
                <div class="blog-image">
                    <img src="{% static 'main/images/blog.webp' %}" alt="">
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-image">
                    <img src="{% static 'main/images/blog.webp' %}" alt="">
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-image">
                    <img src="{% static 'main/images/blog.webp' %}" alt="">
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}